* {
  padding: 0;
  margin: 0;
}

:root {
  --Roboto: "Roboto", sans-serif;
  --Raleway: "Raleway", sans-serif;
  --White: #ffffff;
  --Slate: #434455;
  --Navy-blue: #2e2f42;
  --Ocean: #404bbf;
  --Iris: #4d5ae5;
  --Cloud: #f4f4fd;
  --Cornflower: #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav,
.address {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.address > .list {
  display: flex;
  gap: 40px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}

.list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}

body {
  font-family: var(--Roboto);
  color: var(--Slate);
  background-color: var(--White);
}

.link {
  text-decoration: none;
  padding: 24px 0;
}

.item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
  text-decoration: none;
}

.link:focus,
.link:hover {
  color: var(--Ocean);
}

/* logo */
.logo {
  font-family: var(--Raleway);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Iris);
  margin-right: 76px;
}

.spanlogo {
  color: var(--Navy-blue);
}

.logofooter {
  color: var(--Cloud);
}
/* footer logo */
.footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  background-color: var(--Navy-blue);
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footerp {
  color: var(--Cloud);
  max-width: 264px;
}

/* section one */
.section-one {
  background-color: var(--Navy-blue);
  font-family: var(--Roboto);
  padding: 188px 0;
}

.button {
  background-color: var(--Iris);
  font-family: var(--Roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--White);
  cursor: pointer;
  height: 56px;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: var(--Ocean);
}

.hero-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--White);
  max-width: 496px;
  margin: 0 auto 48px;
}

.list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
  font-weight: 500;
  margin-bottom: 8px;
}

/* section two */

.section-two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two-list {
  display: flex;
  gap: 24px;
}

.section-two-header {
  margin-bottom: 8px;
}
.list-calc {
  flex-basis: calc((100% - 72px) / 4);
}

/*section three*/
.section-three {
  padding-bottom: 120px;
}

.sectionthree-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Navy-blue);
  margin-bottom: 72px;
}

.service {
  display: flex;
  gap: 24px;
}
/*section four*/

.sectionfour-header {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.sectionfour-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
  text-align: center;
}

.sectionfour-list {
  background-color: var(--White);
  border-radius: 0px 0px 4px 4px;
}

.section-four {
  background-color: var(--Cloud);
  padding: 120px 0;
}

.section-four-name {
  text-align: center;
  margin-bottom: 8px;
}

.team {
  display: flex;
  gap: 24px;
}

.member-info {
  padding: 32px 0;
}
/*img block*/

img {
  display: block;
}

/*Portfolio*/
.btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-item {
  font-family: var(--Roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--Iris);
  background-color: var(--Cloud);
  cursor: pointer;
  border: 1px solid var(--Cornflower);
  padding: 12px 24px;
  border-radius: 4px;
}

.btn-item:focus,
.btn-item:hover {
  color: var(--White);
  background-color: var(--Ocean);
  border: 1px solid transparent;
}

.main-portfolio {
  padding: 96px 0 120px 0;
}

.service-portoflio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.service-text {
  padding: 32px 16px;
  border: 1px solid var(--Cornflower);
  border-top: none;
  margin-bottom: 8px;
}
